{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                    {% if employers %}
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body pb-3">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-grow-1">
                                            <h5 class="card-title mb-2">Today attendance</h5>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    All
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="table-responsive">
                                            <table class="table project-list-table table-nowrap align-middle table-borderless mb-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">№</th>
                                                        <th scope="col">Employer</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">attendance</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for employer in employers %}
                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="flex-shrink-0 me-3">
                                                                    <img src="{{ employer.avatar.url }}" alt="" class="avatar rounded-circle">
                                                                </div>
                                                                <div class="flex-grow-1">{{employer.name}}</div>
                                                            </div>
                                                        </td>
                                                        <td>{{employer.get_status_display}}</td>
                                                        <td>
                                                        <span>{{employer.id}}</span>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">
                                                                <i class="mdi mdi-square-rounded font-size-10 text-{% if employer.come %}success{% else %}danger{% endif %} me-2"></i>
                                                                {% if employer.come %} 
                                                                    <i class="uil-user-plus text-success"></i> 
                                                                    <b class="text-success">Come in</b>
                                                                {% else %} 
                                                                    <i class="uil-user-minus text-danger"></i> 
                                                                    <b class="text-danger">Come out</i>
                                                                {% endif %}
                                                            </p>
                                                        </td>
                                                    </tr>                                                     
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end row -->
                    {% endif %}
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
   
            {% endblock content %}
                